{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","sans-serif";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/—Pngtree—mountain sunset minimalist landscape scenery_1604211.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
